.loadingIndicator {
  position: absolute;
  align-content: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loginPage_loadingIndicator {
  position: absolute;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
