
//colors
$off_black: #26067e;
$off_white: #0a2079;
$dark_blue: #afb6ce;
$light_blue: #464b52;
$purple: #7357c5;
$red: #e41919;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$m2-size: 2.6rem;
$l-size: 5.2rem;
$xl-size: 8.8rem;
$desktop-breakpoint: 42rem;

